@inherits BaseButtonComponent


<button class="btn btn-primary"
        type="submit"
        disabled="@IsBusy"
        onclick="@OnClick"
        title="@(Tooltip ?? "Save")">
    <i class="@(Icon?? "fa-regular fa-floppy-disk fa-bounces")"></i>
    @(Caption ?? "Save")
</button>
