@page "/"
@using Blazored.LocalStorage;
@inject ILocalStorageService localStorage
<PageTitle>Index</PageTitle>

<h1>Hello, world! | counter value = @value</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>
    @SupplierId
</p>



<MealOrdering.Client.CustomComponents.SupplierDropDownComponent @bind-Value="SupplierId"></MealOrdering.Client.CustomComponents.SupplierDropDownComponent>

@code {
    private int value = 0;
    private Guid SupplierId = Guid.Parse("a7e0b129-b513-41aa-95e3-262dbf852132");
    protected override async Task OnInitializedAsync()
    {
        value = await localStorage.GetItemAsync<int>("counter");

    }
}



@*<BlazoredTypeahead SearchMethod="SearchFilms"
@bind-Value="SelectedFilm">
    <SelectedTemplate>
        @context.Title
    </SelectedTemplate>
    <ResultTemplate>
        @context.Title (@context.Year)
    </ResultTemplate>
</BlazoredTypeahead>

@if (SelectedFilm != null)
{
    <p>Selected Film is: @SelectedFilm.Title</p>
}

@code {

    private List<Film> Films;
    private Film SelectedFilm;

    protected override void OnInitialized()
    {
        Films = new List<Film> {
            new Film("The Matrix", 1999),
            new Film("Hackers", 1995),
            new Film("War Games", 1983) };
    }

    private async Task<IEnumerable<Film>> SearchFilms(string searchText)
    {
        return await Task.FromResult(Films.Where(x => x.Title.ToLower().Contains(searchText.ToLower())).ToList());
    }

    class Film
    {
        public string Title { get; set; }
        public int Year { get; set; }

        public Film(string title, int year)
        {
            Title = title;
            Year = year;
        }
    }

}*@